:root{
    --left-menu-back: #535353;
    --border: #333333;
    --unselectable-color: #a0a0a0;
    --selecting-color: #f0f0f0;
    --text-color: #dadada;
}

*{
    margin: 0;
    padding: 0;

    font-family: 'M PLUS 2', sans-serif;
}
html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0%;
}
.menu{
    background-size: cover;
    background-position: center;
    background-image: url("./img/Header.webp");
    display: grid;
    grid-template-columns: auto auto 100px 100px 200px;
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.menu>#Title{
    grid-column: 1;
    margin-bottom: 0px;
    white-space: nowrap;
    
    color: black;
    margin: 0 0 0 10px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 100%;
}
#mainTitle{
    font-size: 30px;
}
#subTitle{
    /* margin-left: 60px; */
    /* font-style: italic; */
    line-height: 0%;
    font-size: 20px;
}

.menu>#inputBox{
    grid-column: 2;
    grid-row: 1;
    margin: auto;
}
.menu>.log{
    margin-top: auto;
    margin-bottom: auto;
}
.menu>button{
    grid-column: 3;
    grid-row: 1;
    margin: auto;
    width: 70px;
}

.menu>#AutoSelectButton{
    grid-column: 3;
    width: 100px;
}
.menu>#saveButton{
    grid-column: 4;
}

canvas{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.canvas{
    grid-column: 1;
    grid-row: 2;
}

.wrapper{
    height: 100%;
    display: grid;
    /* grid-template-columns: 6fr 2fr; */
    /* grid-template-columns: 2fr 400px; */
    grid-template-columns: 6fr minmax(300px, 2fr);
    grid-template-rows: 50px 1fr;
}

.leftMenu{
    /* border-left: 2px solid var(--border); */
    background-color: #424242;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 7fr 32px;
}
textarea{
    cursor: auto;
    color: var(--text-color);
    background-color: var(--left-menu-back);
    resize: none;
    grid-row: 2;
    outline: none;
    border: 1px solid var(--border);
    /* border-top: 1px solid #333333;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; */
}
textarea::-webkit-scrollbar{
    
    width: 16px;
    background-color: black;
}
textarea::-webkit-scrollbar-track{
    background-color: #4a4a4a;
    border-left: 1px solid var(--border);
}
textarea::-webkit-scrollbar-thumb{
    background-color: #696969;
    border-left: 1px solid var(--border);
}

.bottomMenuDiv{
    grid-row: 3;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
    margin-right: 4px;
}

#clipBoard{
    float: right;
    width: auto;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1678c2;
    color: white;
    border-radius: 4px;
    border: 0px;
}

input[type="radio"]{
    display: none;
}

.tab {
    display: flex;
    flex-flow: wrap;
    grid-row: 1;
}

.tab-item{
    color: var(--unselectable-color);
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
    order: -1;
    height: auto;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.tab-item:not(:first-of-type){
    background-color: #424242;
    border-left: none;
}

.tab-input:checked + .tab-item{
    background: var(--left-menu-back);
    color: var(--selecting-color);
    border-bottom: 0px;
}

.tab-content{
    background-color: var(--left-menu-back);
    color: var(--text-color);
    width: 100%;
    height: auto;
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 20px;
    
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.tab-input:checked+.tab-item+.tab-content{
    display: flex;
}

.text{
    font-size: 15pt;
}
.Author{
    font-size: 12pt;
}
.NotSelectable{
    user-select: none;
}
#charCount{
    white-space: normal;
    color: var(--text-color);
}
a{
    color: var(--text-color);
}
a:visited{
    color: var(--text-color);
}